.items__card-title {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 10px;
	height: 40px;
}

.items__card-subtitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 40px;
}

.items__block {
	text-align: center;
	background-color: #f3f3f3;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 30px;
}

.items__selector {
	display: flex;
	flex-direction: column;
	padding: 6px;
	background-color: #f3f3f3;
	border-radius: 10px;
}

.items__selector ul {
	display: flex;
	margin-bottom: 5px;
}

.items__spisok-po {
	margin-top: 5px;
	color: rgba(58, 138, 53);
	cursor: pointer;
	align-self: center;
	max-width: 200px;
	border-bottom: 1px solid rgba(58, 138, 53);
	font-weight: bold;
}

.items__spisok {
	flex: 1;
	font-size: 14px;
	font-weight: 600;
	padding: 8px;
}

.items__spisok_active {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
}

.items__block img {
	border-radius: 20px;
	margin-bottom: 10px;
	object-fit: cover;
	/* height: 282px; */
	height: 282px;
	width: 100%;
}

@media screen and (max-width: 1249px) {
	.items__block img {
		height: 250px;
	}
}

@media screen and (max-width: 1200px) {
	.items__block {
		max-height: 520px;
	}

	.items__block img {
		height: 190px;
	}

	.items__card-subtitle {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 698px) {
	.items__block {
		height: auto;
	}
}

@media screen and (max-width: 388px) {
	.items__block {
		max-width: 100%;
	}
	.items__block img {
		height: 150px;
	}
	.items__card-subtitle {
		margin-bottom: 20px;
		font-size: 15px;
	}
	.items__spisok {
		font-size: 13px;
	}
	.items__spisok-po {
		font-size: 14px;
	}
	.items__card-title {
		margin-bottom: 0;
	}
}
