.active {
	background-color: rgba(58, 138, 53);
	color: #fff;
	border: 1px solid;
	border-radius: 5px;
	font-weight: bold;
}

.sort-popup {
	background: #fff;
	border: 2px solid rgba(246, 250, 245);
	border-radius: 10px;
	box-shadow: 0 5px 15pxrgba (0, 0, 0, 0.09);
	padding: 10px 0;
	position: absolute;
	right: 0;
	top: 24px;
	z-index: 5;
}

.sort-popup ul li {
	cursor: pointer;
	padding: 12px 20px;
}

.sort-popup li {
	overflow: hidden;
}

.sort-popup li:hover {
	background: rgba(58, 138, 53);
	color: #fff;
	border-radius: 5px;
}

.sort {
	position: relative;
}

.sort__text-container {
	display: flex;
}

.sort-label {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-bottom: 20px;
}

.sort-label p {
	margin-left: 8px;
	margin-right: 8px;
}

.sort-label span {
	font-weight: bold;
	border-bottom: 1px dashed rgba(58, 138, 53);
	color: rgba(58, 138, 53);
	cursor: pointer;
}

.sort-img {
	align-self: center;
	display: flex;
}

@media screen and (max-width: 399px) {
	.sort-label p {
		margin-left: 0;
	}

	.sort__text-container {
		flex-wrap: wrap;
		margin-left: 10px;
	}
}

@media screen and (max-width: 389px) {
	/* .categories__sort-label {
		align-items: baseline;
	} */
	.sort__text-container {
		font-size: 14px;
	}
}

@media screen and (max-width: 360px) {
	.sort-popup {
		margin: 0;
		padding: 0;
	}

	.sort-popup li {
		font-size: 14px;
	}
}

@media screen and (max-width: 260px) {
	.sort-popup {
		right: auto;
		top: 45px;
	}
}
